/*HUD.css*/
.heads-up-display {
    display: grid;
    grid-template-rows: repeat(3, auto);
    width: 6em;
    height: 100%;
    border: 1px solid gray;
}
.heads-up-display > div {
    display: flex;
    flex-direction: column;
}
.heads-up-display > div > div {
    text-align: center;
}
div#controls > button {
    width: 100%;
}