/*Column.css*/
.column {
	position: relative;
	display: grid;
	grid-gap: 16px;
	z-index: 1;
}
.column.open {
	cursor: pointer;
}
.slot {
	z-index: 2;
	display: block;
	width: 64px;
	height: 64px;
	border-radius: 100%;
	border: 2px solid black;
}
.column.closed::before {
    content: "x";
    position: absolute;
    top: -1.2em;
    font-size: 4em;
    left: 50%;
    transform: translateX(-50%);
}