/*Column.css*/
.column {
	display: grid;
	grid-gap: 16px;
	z-index: 1;
}
.column.closed::before {
	
}
.slot {
	z-index: 2;
	display: block;
	width: 64px;
	height: 64px;
	border-radius: 100%;
	border: 2px solid black;
}