/*Column.css*/
.column {
	display: grid;
	grid-gap: 16px;
}
.column.closed::before {
	
}
.slot {
	display: block;
	width: 64px;
	height: 64px;
	border-radius: 100%;
	border: 2px solid black;
}
/*include animatino from bounce.js as this should only render once*/
.token {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.token.user {
	background-color: red;	
}
.token.cpu {
	background-color: blue;	
}