/*App.css*/
* {
    box-sizing: border-box;
}
body, html {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
div#root, div.app, div#display {
    height: inherit;
}
.app {
    position: relative;
    display: flex;
}
p {
    margin: 0;
}